<nav class="mobile-nav">
  <ul class="mobile-nav__item-list">
    <li class="mobile-nav__item">
      <a class="<%= path === '/main' ? 'active' : '' %>" href="/main"> Home </a>
    </li>
    <li class="mobile-nav__item">
      <a class="<%= path === '/main' ? 'active' : '' %>" href="/main">
        About
      </a>
    </li>
    <li class="mobile-nav__item">
      <a class="<%= path === '/orders' ? 'active' : '' %>" href="/orders">
        Portfolio
      </a>
    </li>
    <li class="mobile-nav__item">
      <a
        class="<%= path === '/admin/add-product' ? 'active' : '' %>"
        href="/admin/add-product"
      >
        Blogs
      </a>
    </li>
    <li class="mobile-nav__item">
      <a
        class="<%= path === '/admin/add-product' ? 'active' : '' %>"
        href="/admin/add-product"
      >
        Contact
      </a>
    </li>
    <div class="cursor main"></div>
    <div class="cursor2 main"></div>

    <div>
      <ul class="my-icons">
        <li>
          <a href="#">
            <ion-icon name="logo-github"></ion-icon>
          </a>
        </li>
        <li>
          <a href="#">
            <ion-icon name="logo-codepen"></ion-icon>
          </a>
        </li>
        <li>
          <a href="#">
            <ion-icon name="logo-linkedin"></ion-icon>
          </a>
        </li>
        <li>
          <a href="#">
            <ion-icon name="logo-twitter"></ion-icon>
          </a>
        </li>
        <li>
          <a href="#">
            <ion-icon name="logo-medium"></ion-icon>
          </a>
        </li>
      </ul>
    </div>
  </ul>

  <!-- <div class="cursor"></div>
  <div class="cursor2"></div> -->
</nav>

<style>
  .mobile-nav__item a {
    position: relative;
    text-align: center;
    color: var(--text-color);
  }

  .mobile-nav__item a:before {
    content: "";
    z-index: -1;
    position: absolute;
    background-color: var(--main-color);
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    max-width: 0;
    transition: max-width 500ms;
  }

  .mobile-nav__item a:hover,
  .mobile-nav__item a:focus {
    outline: none;
  }

  .mobile-nav__item a:hover:before,
  .mobile-nav__item a:focus:before,
  .mobile-nav__item a.active:before {
    max-width: 10rem;
  }

  .my-icons {
    margin-top: 10rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .my-icons li {
    list-style: none;
    transition: 0.7s ease-in-out;
  }

  .my-icons li a {
    font-size: 32px;
    color: #ff5858;
  }

  .my-icons li:hover {
    transform: scale(0.9);
  }

  @media (max-width: 768px) {
    .mobile-nav {
      width: 100%;
    }
    .mobile-nav__item a {
      letter-spacing: 2px;
      font-size: 22px;
    }
  }

  nav ul li:hover ~ .cursor2.main {
    transform: scale(6);
  }
</style>
